<h2>All Members</h2> 

<div class="row"> 
    {{#each membersData}}
    <div class="col-md-3"> 
        <div class="member"> 
            <span>{{capitalize occupation.title}}</span> 
            <div class="image-holder image-holder-index"> 
                <img src="{{imageUrl}}" alt=""> 
            </div> 

            <h4 class="heading-index">{{getMemberName firstName lastName}}</h4> 
            <a href="/members/{{_id}}/details">Details</a> 
        </div>
    </div> 
    {{/each}}
</div>