.image-holder img { 
    display: inline-block; 
    object-fit: cover; 
    width: 100%; height: 100%; 
} 

.image-holder-member-index { 
    height: 15rem; 
} 

.image-holder-member-details { 
    height: 40vh; 
} 

.heading-member-index {
    font-size: 1.2rem; 
}