.image-holder img { 
    display: inline-block; 
    object-fit: cover; 
    width: 100%; height: 100%; 
} 

/* .image-holder-details img {
    object-fit: contain; object-position: left; 
} */ 

.image-holder-details {
    width: 20%; 
}

.image-holder-index { 
    height: 15rem; 
} 

.image-holder-details { 
    height: 40vh; 
} 

.heading-index {
    font-size: 1.2rem; 
}